<table id="students-without-balance">
    <tr>
        <th>Student Id</th>
        <th>Student FirstName</th>
        <th>Student LastName</th>
        <th>Total Fees Paid</th>
        <th>Balance</th>
        <th>Fee Amount</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Maria </td>
        <td>Ann</td>
        <td>10,000</td>
        <td>2,000</td>
        <td>12,000</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Maria </td>
        <td>Ann</td>
        <td>10,000</td>
        <td>2,000</td>
        <td>12,000</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Maria </td>
        <td>Ann</td>
        <td>10,000</td>
        <td>2,000</td>
        <td>12,000</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Maria </td>
        <td>Ann</td>
        <td>10,000</td>
        <td>2,000</td>
        <td>12,000</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Maria </td>
        <td>Ann</td>
        <td>10,000</td>
        <td>2,000</td>
        <td>12,000</td>
      </tr>
</table>

