<app-header></app-header>
<div class="dashboard-container">
<div class="dashboard-left">
    <ul>
        <li class="list-active"><a routerLink="/Dashboard/allStudents">All Students</a></li>
        <li><a routerLink="/Dashboard/studentsWithBalance">Students with balance</a></li>
        <li><a routerLink="/Dashboard/studentsWithoutBalance">Students without balance</a></li>
        <li class="list-add"><a routerLink="/Dashboard/addStudent" >+</a></li>
    </ul>
</div>
<div class="dashboard-right">
    <router-outlet></router-outlet>
</div>
</div>