<div [ngStyle]="{'height':'100vh','position':'relative'}" class="home">
    
        <app-header></app-header>
    <p [ngStyle]="{'text-align':'center','font-size':'40px','color':'black','font-weight':'bold'}">Manage your Fees & Transactions</p>
    <p [ngStyle]="{'text-align':'center','font-size':'20px','color':'grey','margin-top':'10px'}">Accepts Gpay, Rupay card, Visa card</p>

    <img src='../../../assets/images/Homepage_vector.png' alt='Homepage' [ngStyle]="{width:'80vh', height:'50vh','object-fit':'center','position':'absolute','bottom':'10px','left':'0','right':'0','margin':'0 auto','max-width':'100%'}" class='home-image'/>
    
</div>
