<div class="login-wrapper">
<div class="login-div">
    <div class="login-left">
        <img src='../../../assets/homeBack.png' alt='Login'/>
    </div>
    <form class="login-right">
        <p *ngIf="!loginErrorMessage ; else noError"></p>
        <ng-template #noError>

            <p class="login-message">{{loginErrorMessage}}</p>

        </ng-template>
       
        <h1 class="login-title">Login</h1>
        <input type='email' placeholder='email' [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required/>
        <input type='password' placeholder='password' [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required/>
        <button type="submit" class="submit-button" (click)="userLogin()">Login</button>
    </form>
    </div>
</div>