.new-student-form-wrapper{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.new-student-form{
    height:100%;
    gap:20px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.new-student-form >input{
    padding:10px;
}
.new-student-form >button{
    padding:20px;
    color:white;
    background-color: black;
    border:none;
    border-radius:10px;
}